@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "account", new { area = ""}, FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-fw"></i>
                Hello @User.Identity.Name
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
            </div>
        </li>
                }
            }
            else
            {
    <li class="nav-item">
        @Html.ActionLink("login", "login", "account", null, new { @class = "nav-link"})
    </li>
}
